/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-blue: #63a4ff;
  --color-blue: #1976d2;
  --color-dark-blue: #004ba0;
  --color-light-orange: #ffd149;
  --color-orange: #ffa000;
  --color-dark-orange: #c67100;
  --color-light-gray: #6d6d6d;
  --color-semi-gray: #efefef;
  --color-gray: #616161;
  --color-dark-gray: #373737;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans";
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark-gray);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item:hover {
  background-color: var(--color-gray);
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background-color: var(--color-gray);
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-dark-gray);
}

/* Section Common */
.section {
  padding: 60px;
  text-align: center;
  margin: auto;
}

/* About */
#about {
  background-color: var(--color-semi-gray);
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 72px;
  margin: auto;
  color: var(--color-dark-blue);
  border: 1px solid var(--color-black);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-dark-orange);
  transform: rotate(-30deg) scale(1.1);
}
.major__title {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.major__decription {
  font-size: var(--font-small);
}

.timeline {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.timeline__description {
  margin: 0 16px;
  text-align: left;
}

.timeline__name {
  font-size: var(--font-small);
}

.timeline__period {
  font-size: var(--font-micro);
  color: var(--color-gray);
}

.timeline img {
  width: 100px;
  height: 100px;
  border-radius: calc(2 * var(--size-border-radius));
}

/* Work */
#work {
  background-color: var(--color-gray);
}

#work h1,
h3 {
  color: var(--color-white);
}

.work__categories {
  margin: 36px;
}

.category__btn {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 30px;
  color: var(--color-white);
}

.category__btn:hover {
  background-color: var(--color-dark-gray);
}

.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-dark-orange);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 10px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  width: 480px;
  height: 400px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  background-color: var(--color-semi-gray);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 27px;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration) ease;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description span {
  font-size: var(--font-micro);
}

/* Skills */
#skills p {
  padding-bottom: 48px;
  font-size: var(--font-small);
}

.skillset {
  background-color: var(--color-light-gray);
  color: var(--color-white);
  padding: 15px;
}

.skill {
  display: flex;
  padding: 15px;
  align-items: center;
}

.skill__icon img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.skill__description {
  text-align: left;
  width: 100%;
}

.skill__description-bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-semi-gray);
  margin: 5px 0px;
}

.skill__value {
  height: 3px;
  background-color: var(--color-light-orange);
}

.skill__description-name {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-gray);
}

#testimonials h1 {
  color: var(--color-white);
}

.testimonial {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
  align-items: center;
}

.testimonial__avartar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__speech-bubble {
  padding: 12px;
  background-color: var(--color-white);
  font-size: var(--font-medium);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble .name {
  margin-top: 24px;
}
.testimonial__speech-bubble a {
  color: var(--color-dark-orange);
}

.testimonial__avartar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avartar:nth-child(even) {
  margin-left: 40px;
}

/* Contact */
#contact {
  background-color: var(--color-dark-gray);
}

.contact__email,
.contact__rights,
.contact__title {
  color: var(--color-white);
}

.contact__title {
  margin: 0 32px 32px 32px;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-light-orange);
}

/* For Below 770px screen width */
@media screen and (max-width: 770px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
}
